<% layout('layouts/boilerplate')%>
<style>
	body {
		height: 100vh;
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url('https://source.unsplash.com/random/1920x1080');
		background-size: cover;
		background-position: center;
		text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, 0.5);
		box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);
	}
</style>

<div class="container d-flex justify-content-center align-items-center mt-5">
	<div class="row">
		<div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
			<div class="card shadow">
				<img
					src="https://source.unsplash.com/random/1600x900"
					alt=""
					class="card-img-top"
				/>
				<div class="card-body">
					<h5 class="card-title">Register</h5>
					<form
						action="/register"
						method="POST"
						class="validated-form"
						novalidate
					>
						<div class="mb-3">
							<label class="form-label" for="firstName">First Name</label>
							<input
								class="form-control"
								type="text"
								name="firstName"
								placeholder="First Name"
							/>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="mb-3">
							<label class="form-label" for="lastName">Last Name</label>
							<input
								class="form-control"
								type="text"
								name="lastName"
								placeholder="Last Name"
							/>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="mb-3">
							<label class="form-label" for="username">Username</label>
							<input
								class="form-control"
								type="text"
								id="username"
								name="username"
								placeholder="Username"
								required
							/>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="mb-3">
							<label class="form-label" for="email">Email</label>
							<input
								class="form-control"
								type="email"
								id="email"
								name="email"
								placeholder="Email"
								required
							/>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<div class="mb-3">
							<label class="form-label" for="password">Password</label>
							<input
								class="form-control"
								type="password"
								id="password"
								name="password"
								placeholder="Password"
								required
							/>
							<div class="valid-feedback">Looks good!</div>
						</div>
						<button class="btn btn-success">Register</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
